html, body {
  height: 100%;
}

body {
 background-color: #f9f7f1;
 font-family: "Open Sans";
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}
.header-head {
  max-width: 850px;
  text-align: center;
  border-bottom: 2px solid #2f2f2f;
  margin: 0 auto 15px auto;
}

.content {
  flex: 1 0 auto;
}

.main-heading {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  justify-content: center;
}

.footer-section {
  padding: 10px;
  font-size: 14px;
}

.link {
  margin-bottom: 10px;
}

.spiel {
  max-width: 500px;
}
.cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border-right: 1px solid #2f2f2f;*/
  /*border-left: 1px solid #2f2f2f;*/
  width: 66%;
}
.card {
    font-size: 14px;
    line-height: 20px;
    width: 75%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    transition: all .7s;
    padding-bottom: 30px;
    border-bottom: 1px solid #2f2f2f;
    margin-bottom: 15px;
}

.card .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
