
.container {
    margin-bottom: $footer-height--minus;
    min-height: $main-height--minimum;
    padding: 10px;
    margin-bottom: $footer-height;
    margin-top: $footer-height;


  ul {
    text-align: center;
  }


  .post-title {
    font-size: 1.5em;
    font-family: $heading-font;
  }

  .excerpt {
    letter-spacing: -1px;
  }

}



