
.container {
    min-height: $main-height--minimum;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: $footer-height;
    margin: $footer-height 20% $footer-height 20%;
    background-color: $code-bg-color;


  ul {
    text-align: center;
  }


  .post-title {
    font-size: 1.5em;
    font-family: $heading-font;
  }

  .excerpt {
    letter-spacing: -1px;
  }

}



