
.container {
    min-height: $main-height--minimum;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: $footer-height;
    margin: $footer-height 20% $footer-height 20%;
    background-color: $code-bg-color;


  ul {
    text-align: center;
  }


  .post-title {
    font-size: 1.5em;
    font-family: $heading-font;
  }

  .excerpt {
    font-size: $medium-font-size;
  }

  @include media-query($blogindex-bp--1){
    margin: $footer-height 10% $footer-height 10%;
  }

  @include media-query($blogindex-bp--2){
    margin: $footer-height 0% $footer-height 0%;
    padding-right: 40px;
  }
}



