
.homepage-btns {
  @include pixelated-btns($green-iterm, $black, 2em, 43vh);
  margin: 20px;
  height: 5vh;
}

.main {

  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: $black;
  overflow: hidden;

  .heading {
      color: $green-iterm;
      font-size: 4em;
      font-family: $typing-font;
      position: relative;
      top: 33vh;
      margin:auto;
      max-width: fit-content;
  }

  .heading span {
      position:absolute;
      top:0;
      right:0;
      width:0;
      background: $black; /* same as background */
      border-left: .1em solid $white;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      -webkit-animation: typing 4s steps(14, end), /* # of steps = # of characters */
      blink-caret 1s step-end infinite;

      -moz-animation: typing 4s steps(14, end), /* # of steps = # of characters */
      blink-caret 1s step-end infinite;

      -o-animation: typing 4s steps(14, end), /* # of steps = # of characters */
      blink-caret 1s step-end infinite;

      animation: typing 4s steps(14, end), /* # of steps = # of characters */
      blink-caret 1s step-end infinite;
  }

  @include media-query($homepage-bp--1){
    .heading {
      font-size:3em;
    }
    .homepage-btns {
      @include pixelated-btns($green-iterm, $black, 1.5em, 43vh);
      margin: 20px;
      height: 5%;
    }
  }

  @include media-query($homepage-bp--2){
    .heading {
      font-size:2.5em;
    }
    .homepage-btns {
      @include pixelated-btns($green-iterm, $black, 1.4em, 38vh);
      margin: 20px 100px;
      height: 4%;
    }
  }

  @include media-query($homepage-bp--3){
    .heading {
      font-size:2em;
    }
    .homepage-btns {
      @include pixelated-btns($green-iterm, $black, 1.4em, 38vh);
      margin: 15px 100px;
      height: 4%;
    }
  }

  @include media-query($homepage-bp--4){
    .heading {
      font-size:1.7em;
    }
    .homepage-btns {
      @include pixelated-btns($green-iterm, $black, 1.1em, 36vh);
      margin: 15px 100px;
      height: 4%;
    }
  }

  @include media-query($homepage-bp--5){
    .heading {
      font-size:1.4em;
    }
    .homepage-btns {
      @include pixelated-btns($green-iterm, $black, 1em, 36vh);
      margin: 15px 100px;
    }
  }
}
