
.main {

  height: 100vh;
  width: 100vw;
  text-align: center;


  @-webkit-keyframes typing {
      from { width: 100% }
      to { width:0 }
  }

  @-webkit-keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: $white }
  }

  @-moz-keyframes typing {
      from { width: 100% }
      to { width:0 }
  }

  @-moz-keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: $white }
  }

  .heading {
      color: $green-iterm;
      font-size: 4em;
      font-family: $typing-font;
      position: relative;
      top: 33vh;
      margin:auto;
      max-width: fit-content;
  }

  .heading span {
      position:absolute;
      top:0;
      right:0;
      width:0;
      background: $black; /* same as background */
      border-left: .1em solid $white;

      -moz-box-sizing: border-box;
      box-sizing: border-box;

      -webkit-animation: typing 4s steps(14, end), /* # of steps = # of characters */
      blink-caret 1s step-end infinite;
      -moz-animation: typing 4s steps(14, end), /* # of steps = # of characters */
      blink-caret 1s step-end infinite;
  }
}
