.leaderboard {

  font-family: $typing-font;
  text-align: center;

  .numbers {
    font-size: 1em;
  }

  h1 {
    font-size: 3.5em;
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-animation: flashing-text 1s step-end infinite;
  }

  ul {
    text-align: left;
    margin: auto;
    max-width: fit-content;
  }

  li {
    margin: 3vh;
  }

  a {
    font-size: 2em;
  }
}
