.post-header {
    margin-bottom: $spacing-unit;
    font-family: $heading-font;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 2vh;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-title, .post-meta {
    margin-left: 3vh;
}

.post-content {
    margin-bottom: $spacing-unit;
    letter-spacing: $letter-spacing--close;
    margin: 1% 20% 5% 20%;
    max-width: 75vw;

  img, code {
    display: block;
    margin: 0 auto;
  }


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-family: $heading-font;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
