

@mixin pixelated-btns($bg-color, $font-color, $font-size, $btn-top) {
  border:none;
  outline:none;
  text-align:center;
  cursor:pointer;
  position: relative;
  background: $bg-color;
  color: $font-color;
  font-size: $font-size;
  top: $btn-top;
  z-index: 1;

  &:active {
    top: $btn-top + 1vh;
  }

  &:before {
      content: "";
      display: block;
      position: absolute;
      background-color: $green-iterm;
      top: 10px;
      bottom: 10px;
      left: -10px;
      right: -10px;
      z-index: -1;

  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: $green-iterm;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    z-index: -2;
  }
}


@mixin wired-link-style ($text-color, $highlight-color) {
  a {
      border-bottom: 3px solid $highlight-color;
      box-shadow: inset 0 -5px 0 $highlight-color;
      color: $text-color;
      text-decoration: none;

      &:hover {
        background-color: $highlight-color;
        color: $text-color;
        text-decoration: none;

      }
    }
}
